#titleWelcome {
	color: #C62828;
	font-size: 50px;
	text-align: center;
}

#sousCategorie {
	font-size: 20px;
	color: #C62828;
	margin-top: 10px;

}

#developers {
	text-align: center;
	font-size: 20px;
	font-style: italic;
	margin: 100px 0px 100px 0px;
}

#techologies {
	font-size: 30px;
	text-align: center;
}

#btnSubmitLogin {
	text-align: center;	
}

#divFicheProfil {
	font-size: 20px;
}

#labelGeolocalisation {
	margin-left: 200px;
	height: 50px;
	font-size: 30px;
}

.popup-container {
	background: rgba(31, 124, 155, 0.68) none repeat scroll 0% 0%;
}

#profilNomPrenom {
	color: red;
	font-size: 20px;
}