<ion-view view-title="Documentation">
  <div class="card-panel grey lighten-4">
  <ion-content id="welcome-background">

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/front.svg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        Technologies utilisées <i class="mdi-navigation-more-vert right"></i>
      </span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        Framework CSS <i class="mdi-navigation-close right"></i>
      </span>
      <p id="sousCategorie">Materialize</p>
      <ul>
        <li>-Installation rapide et intégrée avec l'environnement de développement grâce à bower
        <li>-Responsive
        <li>-Compatible SCSS
        <li>-Contient des fonts et des icones propres au thèmes
        <li>-Contient les composants de base des téléphones mobiles : navbar, grid et cards en one page
        <li>-Framework en développement donc beaucoup d'update, patch et grande communauté
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/back.jpeg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        Technologies utilisées <i class="mdi-navigation-more-vert right"></i>
      </span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        Framework Node.js <i class="mdi-navigation-close right"></i>
      </span>
      <p id="sousCategorie">Sails</p>
      <ul>
        <li>-Installation rapide et intégrée avec l'environnement de développement grâce à bower
        <li>-une API Restful JSON générée automatiquement pour manipuler les modèles
        <li>-Code front-end automatiquement inclu en mode de développement et minifié
        <li>-Un ORM simple pouvant être utiliser avec n’importe quelle base de données
        <li>-Un système de sécurité comprenant authentification, rôles et stratégies de permissions flexibles, personnalisables et utilisable dans les cas d’applications temps réel comme UbCar!
      </ul>
    </div>
  </div>

  </ion-content>
  </div>
</ion-view>