<ion-view view-title="Profil">
  <ion-content>

    <button class="btn-large waves-effect waves-light green accent-3" ng-click="modalProfilAdd()">
      <i class="mdi-social-person-add"></i>
    </button>
    <button class="btn-large waves-effect waves-light grey darken-1" ng-click="modalProfilModify()">
      <i class="mdi-content-create"></i>
    </button>
    <button class="btn-large waves-effect waves-light orange darken-4" ng-click="modalProfilDelete()">
      <i class="mdi-action-delete"></i>
    </button>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="img/photoProfil.jpeg" alt="" class="circle responsive-img" style="cursor:pointer" ng-click="takePicture()" >
            </div>
            <div class="col s10">
              <span id="profilNomPrenom">
                {{profil.name}}
                {{profil.lastName}}
              </span>
            </div>
          </div>
        </div>
      </div>
            

    <button class="btn-large waves-effect waves-light teal darken-2" ng-click="takePicture()">
      <i class="mdi-social-party-mode"></i>
    </button>

    <div id="divFicheProfil">
      <div class="row">
        <i class="mdi-social-location-city"></i>
        <div class="col col-100">Habite à {{profil.city}}</div>
      </div>
  
      <div class="row">
        <i class="icon ion-model-s"></i>
        <div class="col col-100">Voiture à {{profil.numberSeat}}
          <ng-pluralize count="profil.numberSeat"
                when="{'one': 'place',
                       'other': 'places'}">
          </ng-pluralize>
        </div>
      </div>

  
      <div class="row">
        <i class="mdi-communication-quick-contacts-mail"></i>
        <div class="col col-100">{{profil.mail}}</div>
      </div>
    </div>
    
  </ion-content>
</ion-view>