<ion-view view-title="Profil">
  <ion-content>

    <button class="btn-large waves-effect waves-light green accent-3" ng-click="modalProfilAdd()">
      <i class="mdi-social-person-add"></i>
    </button>

    <h1>
      <i class="mdi-social-mood"></i>
      {{profil.prenom}} prénom
      {{profil.nom}} nom
    </h1>

    <form action="#">
        <div class="file-field input-field">
          <input class="file-path validate" type="text"/>
          <div class="btn">
            <span><i class="mdi-social-party-mode"></i></span>
            <input type="file" />
          </div>
        </div>
    </form>

    <div id="divFicheProfil">
      <div class="row">
        <i class="mdi-social-location-city"></i>
        <div class="col col-100">Ville : </div>
      </div>
  
      <div class="row">
        <i class="icon ion-model-s"></i>
        <div class="col col-100">Nombre de pace : </div>
      </div>
  
      <div class="row">
        <i class="mdi-communication-quick-contacts-mail"></i>
        <div class="col col-100">Email : </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>