<ion-view view-title="Ajouter un trajet">
  <ion-content>
    <form ng-submit="addTrajet()">
      <div class="formTrajet">
        <label class="item item-input">
            <i class="icon ion-ios-home balanced"></i>
          <input type="text" placeholder=" Ville de départ" ng-model="addtrajet.depart">
        </label>
        <label class="item item-input">
          <i class="icon ion-flag assertive"></i>
          <input type="text" placeholder=" Ville d'arrivée" ng-model="addtrajet.arrivee">
        </label>
        <!-- Via la fonction du téléphone-->
        <label class="item item-input">
          <i class="icon ion-android-calendar"></i>
          <input type="date" placeholder=" Date" ng-model="addtrajet.date">
        </label>
        <div class="nbPlace">
          <label id="labelNbPlace">Nombre de place : {{addtrajet.place}}</label>
          <div class="item range range-positive">
            <i class="icon ion-android-car"></i>
            <input type="range" name="nombrePlace" min="1" max="7" value="3" ng-model="addtrajet.place">
            <i class="icon ion-model-s"></i>
          </div>
        </div>
        <label>
          <button class="button button-block button-positive" type="submit"> 
            <i class="mdi-action-thumb-up"></i>
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>