<ion-view view-title="Welcome">
  <div class="card-panel grey lighten-4">
  <ion-content id="welcome-background">

    <p id="titleWelcome"><i class="ion-model-s"></i> UbCar</p>
  
    <div class="row" id="techologies">
      <div id="row" class="col col-100">
        <p>
        <a class="ion-social-html5-outline"></a>
        <a class="ion-social-css3-outline"></a>
        <a class="ion-social-nodejs"></a>
        <a class="ion-ionic"></a>
        </p>
      </div>
    </div>

    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="img/ubcar.jpeg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">              
              <p>Projet UbCar 2015</p>
              <p>
                <p class="ion-code-working"></p>
                Développé par Stephen NUNES & Steven MARTINS
                <p class="ion-code-working"></p>
              </p>
            </div>
            <div class="card-action">
              <a href="#/app/documentation">Documentation</a>
            </div>
          </div>
        </div>
      </div>

  </ion-content>
  </div>
</ion-view>